body{
    background-color: rgb(213, 255, 242);
}

.grid{
    display:grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;    
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.8rem;
    padding: 10px;
  }

  .flex {
      display: flex;
      flex-direction: row;      
  }

 